@model IEnumerable<User>

<div class="row">
    <div class="col-md-12">
        <h3>Admin Users</h3>
        <hr>
        @*<a href="/admin/role/create" class="btn btn-outline-primary btn-sm mb-3">Add Role</a>*@
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 50px;">FirstName</th>
                    <th style="width: 50px;">LastName</th>
                    <th style="width: 50px;">UserName</th>
                    <th style="width: 50px;">Email</th>
                    <th style="width: 50px;">EmailConfirmed</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    @foreach (var item in Model)
                    {
                            <tr class="@(item.EmailConfirmed ? "" : "bg-warning")" >
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.UserName</td>
                            <td>@item.Email</td>
                            <td>@item.EmailConfirmed</td>
                            <td>
                                <a href="/Admin/user/@item.Id" class="btn btn-outline-dark btn-sm">Edit</a>

                                <form action="/Admin/user/delete" method="post" style="display:inline;">
                                    <input type="hidden" name="UserId" value="@item.Id">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <div clasclass="alert alert-warning"><h4>No Users</h4></div>
                }
            </tbody>
        </table>
    </div>
</div>