@model Product
<div class="card mb-3">

    <img src="~/img/@Model.ImgUrl" >

    <div class="card-body">
        <p class="card-title">@Model.Name</p>
        <small class="text-muted">
            @Model.Price <i class="fa-solid fa-manat-sign"> </i>
        </small>
        <p class="card-text">@Model.Description</p>
        <hr />
        <div class="card-footer text-center">
            <a asp-controller="commerce" asp-action="Details" asp-route-url="@Model.Url" class="btn btn-primary btn-sm">Inspect</a>

            @if (User.Identity.IsAuthenticated)
            {
                <form asp-controller="Cart" asp-action="AddToCart" method="post" style="display:inline"> 
                <input type="hidden" name="productId" value="@Model.ProductId">
                <input type="hidden" name="quantity" value="1">
                <button type="submit" class="btn btn-outline-primary btn-sm">Add To Cart</button>
                </form>
            }
        </div>
    </div>
</div>