@model OrderModel

<h1 class="h4">Checkout</h1>
<hr class="mb-3" />
<div class="row">
    <div class="col-md-8">
        <h4 class="mb-3">Order Details</h4>
        <hr class="mb-3" />
        <form asp-asp-controller="Cart" asp-action="Checkout" method="post">

            <input type="hidden" name="CartId" value="0">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-sm-2 form-label" asp-for="@Model.FirstName"></label>
                        <input class="form-control" asp-for="@Model.FirstName" />
                    </div>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-sm-2 form-label" asp-for="@Model.LastName"></label>
                        <input class="form-control" asp-for="@Model.LastName" />
                    </div>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-12">
                    <label class="col-sm-2 form-label" asp-for="@Model.Address"></label>
                    <textarea class="form-control" asp-for="@Model.Address"></textarea>
                </div>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label class="col-sm-2 form-label" asp-for="@Model.City"></label>
                    <input class="form-control" asp-for="@Model.City" />
                    <span asp-validation-for="City" class="text-danger"></span>

                </div>
                <div class="col-md-4">
                    <label class="col-sm-2 form-label" asp-for="@Model.Phone"></label>
                    <input class="form-control" asp-for="@Model.Phone" />
                    <span asp-validation-for="Phone" class="text-danger"></span>

                </div>
                <div class="col-md-4">
                    <label class="col-sm-2 form-label" asp-for="@Model.Email"></label>
                    <input class="form-control" asp-for="@Model.Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>

                </div>
            </div>

            <h4 class="mb-3">Card Details</h4>
            <hr class="mb-3" />

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-sm-2 form-label" asp-for="@Model.CardName"></label>
                        <input class="form-control" asp-for="@Model.CardName" />
                    </div>
                    <span asp-validation-for="CardName" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-sm-2 form-label" asp-for="@Model.CardNumber"></label>
                        <input class="form-control" asp-for="@Model.CardNumber" />
                    </div>
                    <span asp-validation-for="CardNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label class="col-sm-2 form-label" asp-for="@Model.ExpirationMonth"></label>
                    <input class="form-control" asp-for="@Model.ExpirationMonth" />
                    <span asp-validation-for="ExpirationMonth" class="text-danger"></span>

                </div>
                <div class="col-md-4">
                    <label class="col-sm-2 form-label" asp-for="@Model.ExpirationYear"></label>
                    <input class="form-control" asp-for="@Model.ExpirationYear" />
                    <span asp-validation-for="ExpirationYear" class="text-danger"></span>

                </div>
                <div class="col-md-4">
                    <label class="col-sm-2 form-label" asp-for="@Model.Cvc"></label>
                    <input class="form-control" asp-for="@Model.Cvc" />
                    <span asp-validation-for="Cvc" class="text-danger"></span>

                </div>
            </div>

            <hr class="mb-3" />
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary mb-3">Submit</button>
            </div>

        </form>
    </div>
    <div class="col-md-4">
        <h4 class="mb-3">
            <span>Result</span>
        </h4>
        <hr class="mb-3" />

        <ul class="list-group mb-3">

            @foreach (var item in Model.CartModel.CartItems!)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <h6>@item.Name <span class="text-muted">(@item.Quantity)</span></h6>
                    </div>

                    <strong>@item.Price.ToString("c")</strong>
                </li>
            }

            <hr />
            <li class="list-group-item d-flex justify-content-between">
                <span>Total (Azn)</span>
                <strong>@Model.CartModel.TotalPrice().ToString("c")</strong>
            </li>
        </ul>
    </div>
</div>

